@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
    font-family: 'Nunito';
    font-weight: 600;
}

#_ao_main_wrapper {
    /* width: 100%; */
    min-width: 400px;
}

#_ao_title {
    font-weight: 800;
    margin-top: 1em;
}

#_ao_session_name,
#_ao_session_save_btn,
#_ao_session_delete_all_btn {
    font-family: 'Nunito';
    font-weight: 600;
}

._cao_session_item,
._cao_footer_item {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
}

._cao_footer_item {
    justify-content: center;
}

._cao_session_item_label {
    overflow: hidden;
}