 @import url('https://fonts.googleapis.com/css?family=Meera+Inimai');

h2 {
    font-family: 'Meera Inimai', sans-serif;
    font-size: 32px;
}
html{
    background-color: #E9FFB6;
}
.follow{
    font-family: 'Meera Inimai', sans-serif;
    font-size: 15px;
}
body {
    text-align: center;
    padding: 20px 20px;
    margin: 100px auto;  
    width: 600px;
    position: 
}

form {
    display: inline-block;
}
#button{
    display: inline-block;
    height:20px;
	width:70px;
	background-color: #9C599C;
	font-family: 'Meera Inimai', sans-serif;
	font-weight: bold;
	color:#ffffff;
	border-radius: 5px;
	margin-top:2px;
	padding: 5px;
     cursor: pointer;
}

#remove-sessions{
    display: inline-block;
    height:30px;
    width:90px;
    background-color: #00A3C1;
    font-family: 'Meera Inimai', sans-serif;
    font-weight: bold;
    color:#ffffff;
    border-radius: 5px;
    margin-top:2px;
    padding: 5px;
     cursor: pointer;
}

#lists {
    padding: 5px;
}
.list {
	font-family: 'Meera Inimai', sans-serif;
	color: black;
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
	padding: 10px;
}

.item {
    cursor: pointer;
}