 @import url('https://fonts.googleapis.com/css?family=Kavivanar');

h2 {
    font-family: 'Kavivanar', cursive;
    font-size: 30px;
}
#box {
    background-color: #F4F4F4;
    text-align: center;
    padding: 20px 20px;
    margin: 100px auto;  
    width: 600px;
    position: 
}

form {
    display: inline-block;
}
.scratch{
    text-decoration:line-through;
    font-weight: bold;
    color: #ACACAC;
}
#button{
    display: inline-block;
    height:20px;
	width:70px;
	background-color: #9C599C;
	font-family: 'Kavivanar', cursive;
	font-weight: bold;
	color:#ffffff;
	border-radius: 5px;
	margin-top:2px;
	padding: 5px;
}

#lists {
    padding: 5px;
}
.list {
	font-family: 'Kavivanar';
	color: black;
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
	padding: 10px;
}